name: CI/CD Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
        
env:
  AZURE_WEBAPP_NAME: uladzislau-paulovich-cicd-testapp
  AZURE_WEBAPP_PACKAGE_PATH: "./CicdTest/publish"
  DOTNET_VERSION: "9.x"
  SOLUTION_PATH: "CicdTest.sln"
  API_PROJECT_PATH: "CicdTest"
  PUBLISH_DIR: "./publish"
  
jobs:
  build:
    name: Build
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          
      - name: Restore
        run: dotnet restore ${{ env.SOLUTION_PATH }}
    
      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore
        
      - name: Publish
        run: dotnet publish ${{ env.API_PROJECT_PATH }} --configuration Release --no-restore --no-build --property:PublishDir=${{ env.PUBLISH_DIR }}
        
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cidc-testapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
          
  deploy:
    name: Deploy
    runs-on: windows-latest
    needs: [build]
    
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: cidc-testapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
          
      - name: Deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
      